<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="test.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display&family=Raleway:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <section class="cards">
        <!--   card 1 -->
        <article class="card">
          <picture class="thumbnail">
            <img
              class="category__01"
              src="https://assets.vogue.com/photos/64d24a1edb349e28e857b1bb/4:3/w_1920,c_limit/VO0923_SocialCover_logo.jpg"
              alt=""
            />
          </picture>
          <div class="card-content">
            <p class="category category__01">Magazine</p>
            <h2>
              Linda, Cindy, Christy, Naomi! The Iconic Supers Open Up About
              Their Fabulous Then—and Now
            </h2>
            <p class="category-by">BY SALLY SINGER</p>
          </div>
        </article>
        <!--   card 2 -->
        <article class="card">
          <picture class="thumbnail">
            <img
              class="category__02"
              src="https://assets.vogue.com/photos/64da65d7c8b9c3cbcdc843e6/4:3/w_1920,c_limit/00-SUPERMODEL-QUIZ-RZ.jpg"
              alt=""
            />
          </picture>
          <div class="card-content">
            <p class="category category__02">Fashion</p>
            <h2>Which Supermodel Are You? Take This Quiz to Find Out</h2>
            <p class="category-by">BY CHRISTIAN ALLAIRE</p>
          </div>
        </article>
        <!--   card 3 -->
        <article class="card">
          <picture class="thumbnail">
            <img
              class="category__03"
              src="https://assets.vogue.com/photos/64d63c6bcd348ec343b5a941/4:3/w_1920,c_limit/vogue_youtube_poster_behind-the-scenes-of-vogues-september-issue.jpg"
              alt=""
            />
          </picture>
          <div class="card-content">
            <p class="category category__03">Runaway</p>
            <h2>
              Return of the Supers: See Behind the Scenes at the Making of
              Vogue’s September Issue
            </h2>
            <p class="category-by">BY LAIA GARCIA-FURTADO</p>
          </div>
          <!-- .card-content -->
        </article>
        <!--   card 4 -->
        <article class="card">
          <picture class="thumbnail">
            <img
              class="category__04"
              src="https://assets.vogue.com/photos/64d678abc9d9ffba5752e279/4:3/w_1920,c_limit/00-promo%20(11).jpg"
              alt=""
            />
          </picture>
          <div class="card-content">
            <p class="category category__04">Shopping</p>
            <h2>’90s Supermodel Glam Never Goes Out of Style</h2>
            <p class="category-by">BY KIANA MURDEN</p>
          </div>
        </article>
      </section>
    </div>
  </body>
</html>
