:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #000000;
  color: #fff;
}

::selection {
  background-color: #000000;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 0rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.footer {
  background-color: #000000;
  color: white;
  padding: 4rem 4rem 2rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 53.2rem;
}
@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}
/* .footer__logo {
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  align-self: center;
}
@media only screen and (max-width: 50em) {
  .footer__logo {
    grid-row: 1;
  }
}
.footer__logo img {
  height: 20rem;
} */
.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.footer__nav li {
  margin-left: 1.5rem;
}
.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: #b5cebd;
}
.footer__copyright {
  justify-self: end;
  color: #999;
}
@media only screen and (max-width: 50em) {
  .footer__copyright {
    justify-self: center;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.nav--tours {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 80%;
  flex: 0 1 80%;
}
@media only screen and (max-width: 62.5em) {
  .nav--tours {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav--tours {
    margin-bottom: 0;
  }
}
.nav--user {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: rgb(10, 10, 10);
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  /* box-shadow: 0px 0px 30px; */
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
} 
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}
.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav__search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.2rem;
  }
}
.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: #f7f7f7;
}
.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__search-input::-webkit-input-placeholder {
  color: #999;
}
.nav__search-input:-ms-input-placeholder {
  color: #999;
}
.nav__search-input::-ms-input-placeholder {
  color: #999;
}
.nav__search-input::placeholder {
  color: #999;
}
.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid currentColor;
}
.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}

.header {
  background-color: #ffffff;
  padding: 0 3rem;
  height: 11rem;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
}
@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header__logo img {
  height: 6.5rem;
}
@media only screen and (max-width: 62.5em) {
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}

.section-header {
  position: relative;
  height: 38vw;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

/* caraosel */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name:fade;
  animation-duration: 15s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

.fade {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* new carousel ******************** */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: calc(100% - 200px);
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* ****************************** */
.text-center-nav {
  padding: 10px;
  border-bottom: #717171;
  border-style: solid;
  border-width: 1px;
  background-color: #e2dfdf;
}
.text-center-nav b {
  color: #717171;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
}

.justify-content-md-center a {
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-size: 12px;
  font-weight: 600;
}
.container-nav-secondary {
  border-bottom: 1px solid;
  border-bottom-color: #b5b5b5;
  padding: 10px 250px 10px 250px;
}

.carousel-padding {
  margin: 50px;
}

.container-promo {
  margin: 0px 60px 20px;
}
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.promo p {
  font-size: 17px;
  font-weight: 400;
  padding: 0px 17px;
}

.menu__logo img {
  height: 2rem;
  padding: 0px 17px 0px 0px;
}
@media only screen and (max-width: 62.5em) {
  .menu__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}
.nav--tours {
  justify-content: center;
  /* padding: 0px 0px 0px 10rem; */
  margin: 0px 0px 0px 13rem;
}

.nav__el-hero {
  color: rgb(10, 10, 10);
  text-transform: uppercase;
  font-size: 4.6rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
  /* font-family: 'Raleway', sans-serif; */
}

.container-nav-secondary {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

/* **************************************** */

/* color: rgb(10, 10, 10);
  text-transform: uppercase;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit; */

.SMN_effect-97{
  display: flex;
  justify-content: space-evenly;
}

.SMN_effect-97 a {
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
}

.SMN_effect-97 a:hover {
  animation: Rainbow 1s infinite;
}

@keyframes Rainbow {
  0% {
    color: #000000;
  }
  85% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}

.sub-container{
  background-color: #0d0c0c;
}

.secondary-paragragh-header{
  margin: 52px 0px 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 13px;
  font-weight: 400;
  padding: 0px 17px;
  color: #5e5757;
}

.container-article {
  margin: 0px 60px 20px;
  padding: auto;
  text-align: center;
}
.article {
  display:block;
  padding: 10px 0px;
}

.article h2  {
  /* font-size: 17px; */
  font-weight: 200;
  padding: 0px 17px;
  color: black;
}
.container-article p{
  font-size: 12px;
}

.header{
  overflow: hidden;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 1px solid #b5b5b5

}
/* .sticky {
  position: fixed;
  top: 0px;
  width: 100%;
} */
.container-nav-secondary {
  margin-top: 110px;
}

/* .col-nav-secondary{

} */

.nav__el-secondary{
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline;
  align-items: center;
  transition: all 1s;
  font-weight: 400;
  font-family: inherit;
  color: #000;
}

.nav__el-secondary:hover{
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.first-heading {
  display:block;
}

.first-heading h2  {
  font-weight: 200;
  color: black;
}
.secondary-paragragh-header{
  justify-content: center;
} 

/* ************************************* */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:rgb(255, 254, 254) ;/* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /* padding-left: calc(100% /2 - 50px); */
  text-align: center;
}


/* The navigation menu links */
.sideNavbar-sub{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  display: block;
  transition: 0.3s;
}
.sidenav a{
  color: #000000;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #414141;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 18px;
  right: 25px;
  /* font-size: 36px; */
  margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sideNavbar, .sideNavbar-title{
  color: rgb(10, 10, 10);
  text-transform: uppercase;
  font-size: 4.6rem;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Cinzel', serif;
  font-family: 'Playfair Display', serif;
}

.sideNavbar-sub{
  font-size: 25px;
}
.sideNavbar-title{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border: #bababa 1px solid;
  border-width:0px 0px 1px 0px;
}
#sideNavgap{
  margin-top: 45px;
  display: block;
}
/* *****************                                      ***************** */
/* .cards{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}  */

.cards {
  font-family: 'Open Sans', sans-serif;
}

.card-content h2 {
  color: #000;
  font-size: 1.05rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
}

.thumbnail img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/***************************           Cards            *******************************/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 331px);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 3.02rem;

}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #000000;
}

.thumbnail img {
  height: 242.85px;
}

.card-content {
  font-size: 0.75rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.panel.card-panel .panel-header {
  background-color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  height: 25px !important;
}

.panel.card-panel .panel-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.category {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  opacity: 0.8;
}
.container-cards {
  padding: 25px 51px;
}
.category-by {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.6;
}
.card-content p{
	margin: 10px 0px;
}